header{
  height: 100vh;
  width: 100vw;
  background-image: url("https://cnbl-cdn.bamgrid.com/assets/62ed936344e6ffbac48c896b2bd327fe171521dd941b6ddc8402e2eae50116fc/original");
  background-size: cover;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding: 60px;
}

.hulu-logo{
  height: 30px;
  width: 75px;
  text-align: center;
  background-image: url("https://www.hulu.com/static/hitch/static/logos/hulu-logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.login{
  padding: 13px;
}

.login > p{
  font-size: 1.3rem;
  font-weight: bold;
  color: #A8AFBD;
}

.login:hover{
  background-color: rgb(69 59 59 / 81%);
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: 0.4s;
}

/* containing the 2 boxes and 2 text-lines inside the header*/
.header-boxes-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85%;
}

/* contains the 2 header boxes */
.header-boxes-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* individual header boxes */
.bundle-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 25px;
}

.bundle-box > h5{
  font-size: 1.1rem;
  text-align: center;
  color: #1CE783;
}

.basic-image{
  height: 70px;
  width: 250px;
}

.trio-image{
  height: 80px;
  width: 330px;

}

.bundle-box > h6{
  font-size: 2.2rem;
  text-align: center;
  font-weight: 500;
  text-wrap: wrap;
}

.force-wrap{
  width: 90%;
}

.bundle-box > button{
  font-size: 1.15rem;
  font-weight: 600;
  width: 450px;
  height: 55px;
  color: #1d1d22;
  background-color: #1CE783;
  border-radius: 5px;
}

.bundle-box > button:hover{
  background-color: #1ce781d8;
  cursor: pointer;
}

.header-terms{
  padding: 25px 0 30px 0;
  font-size: 1.2rem;
}

.header-signup{
  font-size: 1.4rem;
}

/* ---- NEW SECTION ---- */
.tv-shows{
  margin-bottom: 100px;
}
.tv-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120vh;
  width: 100vw;
  margin-bottom: 120px;
}

.tv-heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75%;
  width: 75%;
  text-align: center;
}

.tv-heading > h5{
  font-size: 1.1rem;
  color: #1CE783;
  padding-bottom: 25px;
  padding-top: 50px;
}

.tv-heading > h1{
  font-size: 4rem;
  padding-bottom: 25px;
}

.tv-heading > p{
  font-size: 1.3rem;
  text-wrap: wrap;
}

.tv-image-boxes{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 97%;
  gap: 40px;
}


.family-guy{
  background-image: url("https://cnbl-cdn.bamgrid.com/assets/82fd53644e709344c9e9c1f4ba66519505ecea256294d59a0637bda76ae1436b/original");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.prey{
  background-image: url("https://cnbl-cdn.bamgrid.com/assets/8c630a19daa8615918152082839724f4dab6538939ba7d3bb45f8faa97acf1b9/original");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.murder{
  background-image: url("https://cnbl-cdn.bamgrid.com/assets/6293f29d56ae0519362951fa38cf62f61004662eb674e61d99e93e7f064d74ff/original");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sopranos{
  background-image: url("https://cnbl-cdn.bamgrid.com/assets/f3f84cde435747f424ce4ad52d351efc96b5da4765af2f76afa9b86fb5bc9a37/original") ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.tv-box{
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 625px;
  width: 100%;
  max-width: 450px;
  outline: 5px solid transparent;
  border-radius: 10px;
  padding-left: 35px;
  padding-top: 25px;
}

.tv-box:hover{
  cursor: pointer;
  border: 4px solid black;
  outline-style: solid;
  outline-width: 6px;
  outline-color: #A8AFBD;
  filter: brightness(-100px) ;
}

.tv-box > p{
  font-size: 1rem;
  padding-bottom: 5px;
}

.tv-box > h4{
  font-size: 1.8rem;
  font-weight: 100;
}

.tv-box > span{
  float: right;
}

.add-ons{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.add-ons > p{
  padding-right: 5%;
  padding-top: 20px;
  font-size: 0.8rem;
  color:#A8AFBD;
}

/* ---- NEW SECTION ---- */

.tv-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding-right: 20px;
  padding-top: 20px;
  text-align: center;
  gap: 20px;
}

.tv-footer > h3{
  color: #1CE783;
  font-size: 1.25rem;
  margin-bottom:5px;
}

.tv-footer > h1{
  font-size: 4rem;
  margin-bottom: 15px;
}

.tv-footer > h2{
  font-size: 1.65rem;
  font-weight: lighter;
  margin-bottom:10px;
}

.tv-footer-button > button{
  background-color: #1CE783;
  padding: 20px 35px;
  font-size: 1.15rem;
  color: #1d1d22;
  font-weight: 600;
  border-radius: 5px;
}

.tv-footer-button > button:hover{
  cursor: pointer;
}

.tv-footer > span{
  color: #A8AFBD;
  font-size: 0.8rem;
}

.tv-footer > span > a{
  color: #A8AFBD;
}

.tv-footer > a{
  font-weight: 600;
  color: #d5d7db;
}

/* NEW Section */

.live-tv-plan{
  height: 100vh;
  width: 100vw;
}

.live-tv-plan-wrapper{
  height: 100%;
  width: 100%;
  background-image: url("https://cnbl-cdn.bamgrid.com/assets/3ab6ce86baaf4225b072c58fa9497ec949c0c9e284b3958ecda1429b7f3744f9/original");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px;
}

.info-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  width: 75%;
  gap: 25px;
}


.titles{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  margin-bottom: 30px;
}

.titles-a{
  padding-bottom:20px;
  border-bottom: 7px solid white ;
}

.titles-a > a{
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}

.titles-a > a:hover{
  color: #A8AFBD;
}

.info-box > h1{
  font-size: 4rem;
}

.live-text{
  width: 100%;
  max-width: 650px;
  font-size: 1.35rem;
  margin-bottom: 20px;
}

.live-tv-plan-logos{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.live-logo{
  border-radius: 60%;
  text-align: center;
  background-color: white;
  height: 65px;
  width: 65px;
}

.cbs > img{
  width: 55px;
}

.nfl > img{
  height: 48px;
  padding-top: 10px;
}

.live-tv-plan span{
  color: #A8AFBD;
  font-size: 0.9rem;
}

.live-tv-plan span > a{
  color: #A8AFBD;
  font-size: 0.9rem;
}

/* NEW SECTION */
.select-plan{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 210vh;
  width: 100vw;
  margin: 0 auto;
  gap: 30px;
}

.select-plan-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  width: 70%;
  gap: 40px;
  padding: 20px 20px 50px 20px;
  border-bottom: 1px solid #6a6d74;
}

.select-plan-header > h1 {
  font-size: 4rem;
}

.span-holder{
  font-size: 1.5rem;
}

.span-holder > p{
  color: #A8AFBD;
}
.span-holder > span{
  font-weight: 600;
}

.select-plan-sticky{
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  gap: 30px;
  border-bottom: 1px solid #6a6d74;
  padding-bottom: 30px ;
  background-color: #0b0c0f;
}

.select-base-plan{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.select-base-plan > h6, .select-bundle > h6{
  font-size: 1.2rem;
}

.select-hulu-logo{
  height: 35px;
  width: 40px;
  background-image: url("https://www.hulu.com/static/hitch/static/logos/hulu-logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.select-button{
  width: 50px;
  height: 50px;
}

.select-bundle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.select-bundle-image{
  height: 35px;
  width: 200px;
}

.select-your-plan{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.popular-text{
  text-align: center;
  background-color: #1fe481;
  padding: 12px 38px;
  border-radius: 35px;
}

.popular-text > p{
  color: #1d1d22;
  font-weight: 500;
  font-size: 0.9rem;
}

.select-your-plan-text > h6 {
  font-size: 1.8rem;
}

.select-your-plan-text > h5{
  font-size: 1.3rem;
  color: #A8AFBD;
}

.select-payment-button{
  padding: 20px 100px;
  border-radius: 5px;
  background-color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #1d1d22;
}

.select-payment-button:hover{
  background-color: #d5d7db;
  transition: 0.2s ease-in;
}

/* SECOND PART OF PREVIOUS SECTION  */
/* NON-STICKY PART  */

.bundle-features{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  border-bottom: 1px solid #6a6d74;
  padding-bottom: 35px;
  padding-top: 5px;
}

.check{
  background-image: url("https://www.hulu.com/static/hitch/static/icons/Pricing_Checkmark_green-light.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  width: 25px;
}

.bundle-features > h6{
  width: 44%;
}

.bundle-features > p,
.bundle-features > .check{
  width: 20%;
}

.bundle-features > p, .bundle-features > h6{
  font-size: 1.2rem;
  font-weight: 400;
}
.margin > p:last-of-type{
  margin-right: 30px;
}

.margin > p:first-of-type{
  margin-right: 20px;
}

.note{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  font-size: 0.75rem;
  padding-bottom: 80px;
}


.bundle-add-ons{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px 0;
  border-top: 1px solid #6a6d74;
}

.bundle-add-ons h6{
  width: 15%;
}

.arrow{
  height: 20px;
  width: 50px;
  background-image: url("https://www.hulu.com/static/hitch/static/icons/Dropdown_Down_Arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
