*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: white;
}

html{
  font-family: 'Rubik', sans-serif;
  /* font-size: 13px; */
}

.wrapper{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #0b0c0f;
}

img{
  height: 100%;
  width: 100%;
  object-fit: fill;
}